astroid==2.4.2
autopep8==1.5.4
bottle==0.12.18
bottle-websocket==0.2.9
click==7.1.2
Eel==0.14.0
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
isort==5.5.2
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.2
pycodestyle==2.6.0
pylint==2.6.0
pyparsing==2.4.7
redis==3.5.3
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
zope.event==4.4
zope.interface==5.1.0
